.ipynb_checkpoints/*
*.pyc
*.pyc
tools/__pycache__/load_database.cpython-37.pyc
tools/__pycache__/calc_single.cpython-37.pyc
tools/__pycache__/helper_functions.cpython-37.pyc
tools/__pycache__/load_molecule_data.cpython-37.pyc
tools/__pycache__/plotting_functions.cpython-37.pyc
tools/__pycache__/calc_single.cpython-37.pyc
tools/__pycache__/helper_functions.cpython-37.pyc
tools/__pycache__/load_molecule_data.cpython-37.pyc
tools/__pycache__/plotting_functions.cpython-37.pyc
tools/__pycache__/calc_single.cpython-37.pyc
tools/__pycache__/helper_functions.cpython-37.pyc
tools/__pycache__/load_molecule_data.cpython-37.pyc
tools/__pycache__/plotting_functions.cpython-37.pyc
